﻿<h1>Library Items</h1>
<h2>Items:</h2>
<button type="button" ng-click="refresh()">Refresh</button>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="li in libraryItems">
            <td>{{li.name}}</td>
            <td><button type="button" ng-click="remove(li.libraryItemKey)">Remove</button></td>
            <td><button type="button" ng-click="startUpdate(li.libraryItemKey)">Update</button></td>
        </tr>
    </tbody>
</table>

<h2>Current item:</h2>
<input type="Text" ng-model="currentItem" />
<button type="button" ng-click="save()">Save</button>

<h2>Test area</h2>
<div style="border: 1px solid black; width:300px; height: 300px" contenteditable="true" spellcheck="false" ng-keyup="search($event.target)"></div>